html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #282c34;
  box-sizing: border-box;
  position: relative;
}

.App {
  padding: 1rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App .ui.table th.collapsing {
  width: 60px !important;
}

.App .ui.table tr.fixed-height {
  height: 80px !important;
  overflow-y: hidden;
}

.App .ui.fixed.table tr.fixed-height td {
  overflow-y: hidden;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 12px;
  line-height: 1;
}

/* processing files */

.App .dimmer {
  position: fixed;
  z-index: 999999;
}

.App .processing-loader .content {
  width: 100%;
}

.App .processing-loader .content .center-loader {
  width: 80%;
  margin: 0 auto;
}

.App .processing-loader .content .files-load {
  width: 100%;
  text-align: left;
  padding-bottom: 40px;
}

.App .processing-loader .content .files-load p {
  text-align: center;
}

.App .processing-loader .content .files-load .progress-table {
  width: 100%;
  display: table;
}

.App .processing-loader .content .files-load .progress-table .left {
  display: table-cell;
  width: 80px;
  vertical-align: bottom;
}

.App .processing-loader .content .files-load .progress-table .right {
  display: table-cell;
  vertical-align: bottom;
}

.App .processing-loader .content .files-load .progress-table .video-done,
.App .processing-loader .content .files-load .progress-table .title-done {
  display: table-cell;
  vertical-align: bottom;
  width: 50px;
  color: #7afff2;
  text-align: right;
}

.App .processing-loader .content .files-load .progress-table .right .bar {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.App .processing-loader .content .files-load .progress-table .right .video-bar {
  position: absolute;
  width: 1%;
  top: 0;
  left: 0;
  height: 10px;
  transition: all 0.4s ease-in-out;
  background-color: #7afff2;
}

.App .processing-loader .content .files-load .progress-table .right .title-bar {
  position: absolute;
  width: 1%;
  top: 0;
  left: 0;
  height: 10px;
  transition: all 0.5s ease-in-out;
  background-color: #7afff2;
}
