html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #282c34;
  box-sizing: border-box;
  position: relative;
}

.App {
  padding: 1rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App .ui.table th.collapsing {
  width: 60px !important;
}

.App .ui.table tr.fixed-height {
  height: 80px !important;
  overflow-y: hidden;
}

.App .ui.fixed.table tr.fixed-height td {
  overflow-y: hidden;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 12px;
  line-height: 1;
}

.App .dimmer {
  position: fixed;
  z-index: 999999;
}
